body {
  background-color: whitesmoke;
}

/* .contenedor {
  width: 600px;
  height: 250px;

} */

.elemento {
  width: 200px;
  height: 200px;
  background-color: red;
  clip-path: circle(100%);
  transition-property: clip-path;
  transition-property: background-color 2s;
  transition-duration: 2s;
  transition-duration: 3s;
  animation: animaElemento 3s;
}

@keyframes animaElemento {
  from {
    background-color: black;
    transform: scale(-3);
    opacity: .5;
  }
  to {
    background-color: red;
    transform: scale(1.3);
    opacity: .1;
  }
}

/* para transiciones, es un disparador */
.elemento:hover {
  
  background-color: black;
  clip-path: circle(20%);
}